@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Color Palette */
  --color-brand-red: #A61A1A;
  --color-brand-orange: #E6600A;
  --color-brand-beige: #EEE8DC;
  --color-brand-blue: #05064D;
  --color-stone-custom: #1C1917;
  --color-brand-white: #FFFFFF;

  --animate-fade-in-up: fade-in-up 0.8s ease-out forwards;

  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer base {
  body {
    background-color: var(--color-brand-beige);
    color: var(--color-stone-custom);
    @apply antialiased; /* Mejora la legibilidad de la fuente */
  }
}

@layer utilities {
  /* Ocultar barra de scroll para Chrome, Safari y Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Ocultar barra de scroll para IE, Edge y Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}